DB_USER=user
DB_PASSWORD=password
DB_NAME=predictions_db

# Airflow image and user ID
AIRFLOW_UID=50000
AIRFLOW_DB_NAME=airflow
AIR_TEAMS_WEBHOOK='https://epitafr.webhook.office.com/webhookb2/470287f9-dd5b-49f4-9668-e4c733689a20@3534b3d7-316c-4bc9-9ede-605c860f49d2/IncomingWebhook/db55b699846642d38bb5ca31f8c64120/6fc80492-d935-4cd7-8358-3cb051f83988/V2acGQJ0EQymNp_pPjwwiPTI2ZYNe6JwWC-zAVTB8Tutw1'
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
_AIRFLOW_WWW_USER_FIRSTNAME=Admin
_AIRFLOW_WWW_USER_LASTNAME=Admin
_AIRFLOW_WWW_USER_ROLE=Admin
_AIRFLOW_WWW_USER_EMAIL=admin@example.com
AIRFLOW__CORE__EXECUTOR= LocalExecutor
AIRFLOW__CORE__AUTH_MANAGER= airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN= postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@db:5432/airflow
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION= 'true'
AIRFLOW__CORE__EXECUTION_API_SERVER_URL= 'http://airflow-apiserver:8080/execution/'
AIRFLOW__SCHEDULER__STANDALONE_DAG_PROCESSOR= 'true'
AIRFLOW__API_AUTH__JWT_SECRET=..B1YHEWa4fo7L2p83L6k9ooKqncmtLBX4w6JhvPepyMbndt-NqL13pzZT3rCichx0jKjp0Mrx9LnUc2-1AsyZ-g

AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://user:password@db:5432/predictions_db