# this is template for local environment
# please copy the content of this file to a file named ".env". ".env" should be located at the same place as docker-compose.yml

DB_USER=user
DB_PASSWORD=password
DB_NAME=predictions_db